@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Smooch&display=swap');

/* Main page reset default settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

b {
    color: rgb(153, 0, 0);
}

/* nav styling */

nav {
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 10;
    padding: 20px;
    background-color: rgba(131, 131, 131, 0.9);
    padding: 20px;
    margin-top: 20px;
    margin-left: 0px;

}

nav ul {
    font-family: Libre Baskerville, sans-serif;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    justify-content: space-between;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    border-radius: 20px;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li {
    padding: 10px;
    z-index: 10;
}

nav ul li a {
    color: rgb(24, 158, 192);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 10;
}

nav a:hover {
    color: rgb(0, 204, 255);
}

.active {
    color: rgb(0, 204, 255);
}

/* Header styling */

.header {
    padding-top: 100px;
}

.header h1 {
    font-size: 10rem;
    color: rgb(24, 158, 192);
    font-weight: 200;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

/* H1 styling */

h1 {
    font-size: 8rem;
    font-family: smooch, san-serif;
    text-align: center;
    color: rgb(24, 158, 192);
    font-weight: 200;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

/* About page styling */

.about-container {
    font-family: Libre Baskerville, sans-serif;
    overflow: hidden;
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    padding: 20px;
}

.about-container h1 {
    font-size: 6rem;
    position: absolute;
    top: 23%;
    line-height: 100px;
}

.about-container p h4 {
    line-height: 100px;
}

.about-card-container {
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-card {
    width: 80%;
    min-height: 80vh;
    background: rgba(131, 131, 131, 0.9);
    display: flex;
    border-radius: 10px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 200px;
    margin-top: 200px;
    flex: 1;
}

.about-image {
    display: flex;
    justify-content: center;
    max-width: 80%;
    height: 30rem;
    display: flex;
    padding-left: 100px;
}

.about-paragraph {
    color: rgb(58, 1, 110);
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-paragraph2 {
    color: rgb(58, 1, 110);
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px;
    padding-right: 50px;
}

/* Footer styling */

.footer {
    width: 100%;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.footer-padding {
    padding: 20px;
}

.footer-list {
    color: rgb(24, 158, 192);
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.7rem;
    padding-bottom: 10px;
}

.footer-list li a {
    font-weight: 400;
    color: rgb(24, 158, 192);
    text-decoration: none;
}

.footer-list a:hover {
    color: rgb(0, 204, 255);
    ;
}

.copyright {
    background-color: rgba(131, 131, 131, 0.9);
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
}

@media all and (max-width: 1600px) {

    .about-image {
        height: 25rem;
    }

    .about-paragraph {
        font-size: 12px;
    }

    .about-paragraph2 {
        font-size: 12px;
    }
}

@media all and (max-width: 1280px) {

    .about-container .footer {
        margin-top: 200px;
    }

    .about-card-container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .about-card {
        display: inline-block;
    }

    .about-title h1 {
        font-size: 5rem;
    }

    .about-image {
        height: 25rem;
    }
}

@media all and (max-width: 1000px) {

    .about-image {
        height: 20rem;
    }
}

@media all and (max-width: 880px) {

    .about-title h1 {
        font-size: 4rem;
    }

    .about-image {
        height: 20rem;
    }
}

@media all and (max-width: 800px) {

    nav {
        padding: 10px;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .about-title h1 {
        font-size: 4rem;
        line-height: 80px;
    }

    .about-image {
        height: 15rem;
    }

    .footer-list {
        font-size: 1rem;
    }

    .copyright {
        font-size: 1rem;
    }
}

@media all and (max-width: 680px) {

    .about-title h1 {
        font-size: 3rem;
        line-height: 60px;
    }

    .about-image {
        height: 15rem;
    }
}

@media all and (max-width: 600px) {

    .about-title h1 {
        line-height: 50px;
    }

    .about-image {
        height: 12rem;
    }

    .about-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media all and (max-width: 480px) {

    .about-paragraph {
        font-size: 10px;
    }

    .about-paragraph2 {
        font-size: 8px;
    }

    .about-title h1 {
        font-size: 2.5rem;
        line-height: 40px;
    }

    .about-image {
        height: 11rem;
    }

    .about-card-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media all and (max-width: 460px) {

    nav ul li a {
        font-size: 9px;
    }

    .about-title h1 {
        top: 25%;
        font-size: 2.5rem;
        line-height: 40px;
    }

    .about-image {
        height: 9rem;
    }

    .footer-list {
        font-size: 9px;
    }

    .copyright {
        font-size: 9px;
    }
}

@media all and (max-width: 380px) {

    .about-card-container {
        padding-top: 500px;
        padding-bottom: 400px;
    }

    .about-title h1 {
        top: 18%;
        font-size: 3rem;
        line-height: 55px;
        right: 5%;
    }

    .about-image {
        height: 8rem;
        margin-right: 38%;
    }
}