@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Smooch&display=swap');

/* Main page reset default settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p :hover {
    transform: scale(1.3);
    cursor: pointer;
}

b {
    color: rgb(230, 24, 24);
}

/* nav styling */

nav {
    display: flex;
    width: 100%;
    background-color: (transparent);
    position: relative;
    text-align: center;
    z-index: 10;
}

nav ul {
    font-family: Libre Baskerville, sans-serif;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    justify-content: space-between;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9);
    z-index: 10;
}

nav ul li {
    padding: 30px;
    z-index: 10;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 10;
}

nav a:hover {
    color: rgb(20, 115, 150);
    transform: scale(1.2);
}

.active {
    color: rgb(20, 115, 150);
}

/* Main container */

.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Video container styling */

.video-container {
    z-index: -10;
}

.video-container video {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Header styling */

.header h1 {
    padding-top: 130px;
    font-size: 6rem;
    color: rgb(76, 199, 240);
    font-weight: 200;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9);
}

/* H1 styling */

h1 {
    padding-bottom: 100px;
    font-size: 4.5rem;
    font-family: smooch, san-serif;
    text-align: center;
    color: rgb(129, 217, 247);
    font-weight: 200;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9);
}

/* First button link */

button p {
    font-size: 30px;
    color: rgb(20, 115, 150);
    background-color: rgb(171, 198, 224);
    width: 200px;
    border-radius: 20%;
    padding: 15px;
    position: absolute;
    margin-left: 50px;
    top: 50%;
}

.first-title {
    position: absolute;
    justify-content: center;
    top: 6%;
    width: 100%;
    margin-top: 160px;
    z-index: 10;
}

.first-title button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.first-title button h1:hover {
    color: rgb(20, 115, 150);
    transform: scale(1.2);
}

.meditation-image {
    background-image: url("med-pose.jpg") center, center;
    width: 100%;
    height: 65rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 400px;
}

/* Second button link */

.second-title {
    position: absolute;
    justify-content: center;
    top: 20%;
    width: 100%;
    z-index: 10;
}

.second-title button p {
    font-size: 30px;
    color: rgb(20, 115, 150);
    background-color: rgb(171, 198, 224);
    width: 200px;
    border-radius: 20%;
    padding: 15px;
    margin-left: 50px;
}

.second-title button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.second-title button h1:hover {
    color: rgb(20, 115, 150);
    transform: scale(1.2);
}

.relaxation-image {
    background-image: url("relaxation.jpg") center, center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 100px;
}

/* Third button link */

.third-title {
    position: absolute;
    justify-content: center;
    top: 30%;
    width: 100%;
    margin-top: 5rem;
    z-index: 10;
}

.third-title button p {
    font-size: 30px;
    color: rgb(20, 115, 150);
    background-color: rgb(171, 198, 224);
    width: 200px;
    border-radius: 20%;
    padding: 15px;
    position: absolute;
    margin-left: 0px;
}

.third-title button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.third-title button h1:hover {
    color: rgb(20, 115, 150);
    transform: scale(1.2);
}

.healthy-food-image {
    background-image: url("healthy-food.jpg") center, center;
    width: 100%;
    height: 100rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

/* Forth button link */

.forth-title button p {
    font-size: 30px;
    color: rgb(20, 115, 150);
    background-color: rgb(171, 198, 224);
    width: 200px;
    border-radius: 20%;
    padding: 15px;
    margin-left: 0px;
    top: 50%;
}

.forth-title button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.forth-title button h1:hover {
    color: rgb(20, 115, 150);
    transform: scale(1.2);
}

.forth-title {
    position: absolute;
    justify-content: center;
    top: 47%;
    width: 100%;
    margin-top: 5rem;
    z-index: 10;

}

.fitness-image {
    background-image: url("fitness-image.jpg") center, center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 200px;
}

/* Meditation page styling */

.med-header {
    padding-top: 50px;
    margin-bottom: 200px;
    z-index: 10;
}

/* Footer styling */

.footer {
    width: 100%;
    margin-top: auto;
    background-color: rgba(19, 2, 2, 0.8);
    padding: 20px;
}

.footer-list {
    color: rgb(233, 184, 92);
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.7rem;
    padding-bottom: 10px;
}

.footer-list li a {
    font-weight: 400;
    color: rgb(233, 184, 92);
    opacity: .5;
    text-decoration: none;
}

.footer-list a:hover {
    opacity: 1;
}

.copyright {
    background-color: rgb(233, 164, 86);
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
}

/* media queries for responsive control */

@media all and (max-width: 1280px) {
    .meditation-image {
        width: 100%;
        height: 65rem;
        margin-bottom: 20rem;
    }
}

.relaxation-image {
    width: 100%;
    height: 40rem;
    margin-bottom: 20rem;
}

.fitness-image {
    width: 100%;
    height: 40rem;
}

.first-title button p {
    font-size: 20px;
}

.second-title button p {
    font-size: 20px;
}

.third-title button p {
    font-size: 20px;
}

.forth-title button p {
    font-size: 20px;
}

.second-title {
    margin-bottom: 10rem;

}


.healthy-food-image {
    max-width: 100%;
    height: 90rem;
}

.third-title {
    margin-top: 15rem;
}

.footer-list {
    font-size: 1.4rem;
}



@media all and (max-width: 880px) {

    .first-title button p {
        font-size: 10px;
        margin-left: 10;
        padding: 10px;
        width: 200px;
    }

    .meditation-image {
        width: 100%;
        height: 60rem;
    }

    .second-title button p {
        font-size: 10px;
        margin-left: 20;
        width: 200px;
    }

    .relaxation-image {
        width: 100%;
        height: 30rem;
    }

    .third-title button p {
        font-size: 10px;
        margin-left: 0;
        width: 200px;
    }

    .healthy-food-image {
        max-width: 100%;
        height: 80rem;
    }

    .forth-title button p {
        font-size: 15px;
        margin-left: 0;
        width: 200px;
    }

    .fitness-image {
        width: 100%;
        height: 40rem;
    }

    .header h1 {
        font-size: 4rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .footer-list {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 680px) {
    h1 {
        font-size: 2.5rem;
    }

    .first-title button p {
        font-size: 10px;
        margin-left: 0;
        top: 50%;
        padding: 10px;
        width: 170px;
    }

    .first-title {
        margin-top: 10rem;
    }

    .meditation-image {
        width: 100%;
        height: 50rem;
        margin-bottom: 2rem;
    }

    .second-title button p {
        font-size: 10px;
        margin-left: 0;
        width: 160px;
    }

    .second-title {
        margin-top: 5rem;

    }

    .relaxation-image {
        width: 100%;
        height: 23rem;
    }

    .third-title button p {
        font-size: 10px;
        margin-left: 0;
        width: 100px;
    }

    .third-title {
        margin-top: 15rem;
    }

    .healthy-food-image {
        max-width: 100%;
        height: 60rem;
    }

    .forth-title {
        top: 50%;
    }

    .forth-title button p {
        font-size: 10px;
        margin-left: 0;
        width: 110px;
    }

    .fitness-image {
        width: 100%;
        height: 32rem;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

@media all and (max-width: 480px) {

    .header h1 {
        font-size: 3rem;
        padding-top: 20px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .first-title {
        top: 1%;
    }

    .first-title button p {
        font-size: 10px;
        margin-left: 0;
        top: 50%;
        padding: 5px;
        width: 170px;
    }

    .meditation-image {
        width: 100%;
        height: 45rem;
    }

    .second-title {
        top: 20%;
    }

    .second-title button p {
        font-size: 10px;
        margin-left: 0;
        width: 160px;
    }

    .relaxation-image {
        width: 100%;
        height: 23rem;
    }

    .third-title button p {
        font-size: 10px;
        margin-left: 0;
        width: 100px;
    }

    .third-title {
        top: 30%;
    }

    .healthy-food-image {
        max-width: 100%;
        height: 60rem;
    }

    .forth-title {
        top: 50%;
    }

    .forth-title button p {
        font-size: 10px;
        margin-left: 0;
        width: 110px;
    }

    .fitness-image {
        width: 100%;
        height: 28rem;
    }
}

@media all and (max-width: 460px) {

    nav ul li a {
        font-size: 0.6rem;
    }

    nav ul li {
        padding: 20px;

    }

    .header h1 {
        padding-top: 50px;
    }

    h1 {
        font-size: 2rem;
    }

    .first-title button p {
        width: 150px;
        padding: 10px;

    }

    .second-title button p {
        width: 140px;
        padding: 10px;
    }

    .forth-title {
        top: 50%;
    }

    .footer-list {
        font-size: 0.8rem;
    }

    .copyright {
        font-size: 0.7rem;
    }
}