@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Smooch&display=swap');

/* Main page reset default settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

b {
    color: rgb(153, 0, 0);
}

/* nav styling */

nav {
    display: flex;
    width: 100%;
    background-color: (transparent);
    position: relative;
    text-align: center;
    z-index: 10;
    padding: 20px;
}

nav ul {
    font-family: Libre Baskerville, sans-serif;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    justify-content: space-between;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9);
    background-color: rgb(208, 173, 218, .3);
    margin-top: 20px;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li {
    padding: 10px;
    z-index: 10;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 10;
}

nav a:hover {
    color: rgb(4, 43, 114);
}

.active {
    color: rgb(4, 43, 114);
}

.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.meditation-image {
    background-image: url("med-pose.jpg") center, center;
    width: 100%;
    height: 100rem;
    position: relative;
    object-fit: cover;
    justify-content: center;
    margin-top: 150px;
}

/* Video container styling */

.video-container {
    z-index: -10;

}

.video-container video {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Header styling */

.header {
    padding-top: 100px;
}

.header h1 {
    font-size: 10rem;
    color: rgb(24, 158, 192);
    font-weight: 200;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

/* H1 styling */

h1 {
    font-size: 8rem;
    font-family: smooch, san-serif;
    text-align: center;
    color: rgb(24, 158, 192);
    font-weight: 200;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9);
}

/* First button link */

.button {
    color: transparent;
    background: transparent;
    border: none;
}

button p {
    font-size: 15px;
    color: rgb(6, 18, 22);
    background-color: rgb(185, 206, 226);
    width: 150px;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    z-index: 10;
}

button p a {
    text-decoration: none;
    list-style: none;
}

.first-title {
    position: absolute;
    justify-content: center;
    top: 8%;
    width: 100%;
    margin-top: 160px;
    z-index: 10;
}

.first-title button {

    margin-right: 150px;
    border: none;
    cursor: pointer;
}

.meditation-image {
    background-image: url("med-pose.jpg") center, center;
    width: 100%;
    height: 70rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 400px;
}

/* Second button link */

.second-title {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 10;
}

.second-title button {
    margin-right: 150px;
    border: none;
    cursor: pointer;
}

.relaxation-image {
    background-image: url("relaxation.jpg") center, center;
    width: 100%;
    height: 45rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 100px;
}

/* Third button link */

.third-title {
    position: absolute;
    justify-content: center;
    top: 44%;
    width: 100%;

    z-index: 10;
}


.third-title button {
    margin-right: 150px;
    border: none;
    cursor: pointer;
}

.healthy-food-image {
    background-image: url("healthy-food.jpg") center, center;
    width: 100%;
    height: 110rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 400px;
    padding-top: 200px;
}

/* Forth button link */

.forth-title {
    position: absolute;
    justify-content: center;
    top: 68%;
    width: 100%;
    z-index: 10;
}

.forth-title button {
    margin-right: 150px;
    border: none;
    cursor: pointer;
}

.fitness-image {
    background-image: url("fitness-image.jpg") center, center;
    width: 100%;
    height: 50rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 200px;
}

/* Med page container */

.med-container {
    font-family: Libre Baskerville, sans-serif;
    overflow: hidden;
    background-image: linear-gradient(rgb(175, 59, 241), rgb(60, 2, 83));
    padding-left: 50px;
    padding-right: 50px;
}

.card-container {
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.med-container .first-title {
    top: 3%;
    right: 30%;
}

.card {
    width: 80%;
    min-height: 80vh;
    background: rgba(131, 131, 131, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0, 20px, 20px rgb(0, 0, 0, 0.2), 0, 0, 50px rgb(0, 0, 0, 0.2);
    flex: 1;
}

.med-2-image {
    background-image: url("med-2.jpg") center, center;
    max-width: 80%;
    height: 25rem;
    display: flex;
    padding-left: 20px;
}

.med-paragraph {
    color: rgb(58, 1, 110);
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px;
}

.med-paragraph2 {
    color: rgb(58, 1, 110);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.five-reasons {
    width: 200px;
    max-height: 300px;
    background: rgba(131, 131, 131, 0.9);
    color: rgb(58, 1, 110);
    font-size: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 30px;
    border-radius: 10px;
    margin-left: 40%;
    margin-bottom: 40px;
}

/* Meditation page styling */

.med-header {
    padding-top: 50px;
    margin-bottom: 200px;
    z-index: 10;
}

/* Footer styling */

.footer {
    width: 100%;
    margin-top: auto;
    background-color: rgba(19, 2, 2, 0.9);
    padding: 20px;
}

.footer-list {
    color: rgb(150, 132, 99);
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.7rem;
    padding-bottom: 10px;
}

.footer-list li a {
    font-weight: 400;
    color: rgb(150, 132, 99);
    opacity: .7;
    text-decoration: none;
}

.footer-list a:hover {
    opacity: 1;
}

.copyright {
    background-color: rgb(110, 104, 92);
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
}

/* media queries for responsive control */

@media all and (max-width: 1800px) {
    .meditation-image {
        width: 100%;
        height: 65rem;
        margin-bottom: 20rem;
    }

    .relaxation-image {
        width: 100%;
        height: 40rem;
        margin-bottom: 20rem;
    }

    .fitness-image {
        width: 100%;
        height: 40rem;
    }

    .header h1 {
        font-size: 10rem;
    }

    h1 {
        font-size: 6rem;
    }

    .first-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .third-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .forth-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title {
        margin-bottom: 10rem;

    }

    .healthy-food-image {
        max-width: 100%;
        height: 90rem;
    }

    .third-title {
        margin-top: 15rem;
    }

    .footer-list {
        font-size: 1.4rem;
    }

    .med-container .header h1 {
        font-size: 3rem;
    }
}

@media all and (max-width: 1600px) {
    .meditation-image {
        width: 100%;
        height: 65rem;
        margin-bottom: 20rem;
    }

    .relaxation-image {
        width: 100%;
        height: 40rem;
        margin-bottom: 20rem;
    }

    .fitness-image {
        width: 100%;
        height: 40rem;
    }

    .header h1 {
        font-size: 10rem;
    }

    h1 {
        font-size: 6rem;
    }

    .first-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .third-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .forth-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title {
        margin-bottom: 10rem;

    }

    .healthy-food-image {
        max-width: 100%;
        height: 90rem;
    }

    .third-title {
        margin-top: 15rem;
    }

    .footer-list {
        font-size: 1.4rem;
    }

    .med-container .first-title h1 {
        font-size: 6rem;
    }

    .med-2-image {
        height: 20rem;
    }
}

@media all and (max-width: 1500px) {
    .meditation-image {
        width: 100%;
        height: 65rem;
        margin-bottom: 20rem;
    }

    .relaxation-image {
        width: 100%;
        height: 40rem;
        margin-bottom: 20rem;
    }

    .fitness-image {
        width: 100%;
        height: 40rem;
    }

    .header h1 {
        font-size: 10rem;
    }

    h1 {
        font-size: 6rem;
    }

    .first-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .third-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .forth-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title {
        margin-bottom: 10rem;

    }

    .healthy-food-image {
        max-width: 100%;
        height: 90rem;
    }

    .third-title {
        margin-top: 15rem;
    }

    .footer-list {
        font-size: 1.4rem;
    }

    .med-container .header h1 {
        font-size: 2rem;
    }

    .med-2-image {
        height: 15rem;
    }
}

@media all and (max-width: 1400px) {

    .meditation-image {
        width: 100%;
        height: 65rem;
        margin-bottom: 20rem;
    }

    .relaxation-image {
        width: 100%;
        height: 40rem;
        margin-bottom: 20rem;
    }

    .fitness-image {
        width: 100%;
        height: 40rem;
    }

    .header h1 {
        font-size: 10rem;
    }

    h1 {
        font-size: 6rem;
    }

    .first-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .third-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .forth-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title {
        margin-bottom: 10rem;

    }


    .healthy-food-image {
        max-width: 100%;
        height: 90rem;
    }

    .third-title {
        margin-top: 15rem;
    }

    .footer-list {
        font-size: 1.4rem;
    }

    .med-container .header h1 {
        font-size: 3rem;
    }

    .med-paragraph {
        font-size: 15px;
    }

    .med-paragraph2 {
        font-size: 15px;
    }

    .meditation-image {
        width: 100%;
        height: 65rem;
        margin-bottom: 20rem;
    }

    .relaxation-image {
        width: 100%;
        height: 40rem;
        margin-bottom: 20rem;
    }

    .fitness-image {
        width: 100%;
        height: 40rem;
    }

    .header h1 {
        font-size: 10rem;
    }

    h1 {
        font-size: 6rem;
    }

    .first-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .third-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .forth-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title {
        margin-bottom: 10rem;

    }


    .healthy-food-image {
        max-width: 100%;
        height: 90rem;
    }

    .third-title {
        margin-top: 15rem;
    }

    .footer-list {
        font-size: 1.4rem;
    }
}

@media all and (max-width: 1280px) {
    .med-container .header h1 {
        font-size: 3rem;
    }

    .med-2-image {
        height: 15rem;
    }

    .med-paragraph {
        font-size: 12px;
    }

    .med-paragraph2 {
        font-size: 12px;
    }

    .meditation-image {
        width: 100%;
        height: 65rem;
        margin-bottom: 20rem;
    }

    .relaxation-image {
        width: 100%;
        height: 40rem;
        margin-bottom: 20rem;
    }

    .fitness-image {
        width: 100%;
        height: 40rem;
    }

    .header h1 {
        font-size: 10rem;
    }

    h1 {
        font-size: 6rem;
    }

    .first-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .third-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .forth-title button p {
        font-size: 15px;
        padding: 5px;
        top: 30%;
        width: 180px;
    }

    .second-title {
        margin-bottom: 10rem;

    }


    .healthy-food-image {
        max-width: 100%;
        height: 90rem;
    }

    .third-title {
        margin-top: 15rem;
    }

    .footer-list {
        font-size: 1.4rem;
    }
}

@media all and (max-width: 1000px) {
    .med-container .first-title h1 {
        font-size: 5rem;
        padding-left: 10px;
    }

    .med-2-image {
        height: 12rem;
    }

    .header h1 {
        font-size: 6rem;
    }

    h1 {
        font-size: 5rem;
    }
}

@media all and (max-width: 880px) {
    .med-container .first-title h1 {
        font-size: 4rem;
        padding-left: 100px;
    }

    .med-container .card {
        display: inline-block;
        padding-top: 50px;
        padding-right: 10%;
    }

    .med-2-image {
        height: 15rem;
        justify-content: center;
        padding-left: 180px;
    }

    .med-paragraph {
        font-size: 10px;
    }

    .med-paragraph2 {
        font-size: 10px;
    }

    .header h1 {
        font-size: 6rem;
    }

    h1 {
        font-size: 5rem;
    }

    .first-title button p {
        font-size: 10px;
        padding: 10px;
        width: 150px;
        top: 30%;
    }

    .meditation-image {
        width: 100%;
        height: 55rem;
    }

    .second-title button p {
        font-size: 10px;
        width: 160px;
        padding: 5px;
        top: 30%;
    }

    .relaxation-image {
        width: 100%;
        height: 30rem;
    }

    .third-title button p {
        font-size: 10px;
        width: 150px;
        top: 30%;
        padding: 5px;
    }

    .healthy-food-image {
        max-width: 100%;
        height: 80rem;
    }

    .forth-title button p {
        font-size: 10px;
        width: 150px;
        top: 30%;
        padding: 5px;
    }

    .fitness-image {
        width: 100%;
        height: 40rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .footer-list {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 800px) {
    .five-reasons {
        font-size: 10px;
        margin-left: 35%;
    }

    .med-container .first-title h1 {
        font-size: 4rem;
        padding-left: 100px;
    }

    .med-container .card {
        display: inline-block;
        padding-right: 10%;
    }

    .med-2-image {
        height: 15rem
    }

    .med-paragraph {
        font-size: 8px;
    }

    .med-paragraph2 {
        font-size: 8px;
    }
}

@media all and (max-width: 680px) {
    .five-reasons {
        font-size: 10px;
        margin-left: 30%;
    }

    .med-container .first-title h1 {
        font-size: 4rem;
        padding-left: 100px;
    }

    .med-container .first-title {
        top: 18%;
    }

    .med-paragraph {
        font-size: 8px;
    }

    .med-paragraph2 {
        font-size: 8px;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .header h1 {
        font-size: 5rem;
        padding-top: 0px;
    }

    h1 {
        font-size: 4rem;
    }

    .first-title button p {
        font-size: 10px;
        padding: 10px;
        width: 150px;
        top: 30%;
    }

    .first-title {
        margin-top: 2rem;
    }

    .meditation-image {
        width: 100%;
        height: 45rem;
        margin-bottom: 2rem;
        margin-top: 20px;

    }

    .second-title button p {
        font-size: 10px;
        padding: 10px;
        width: 150px;
        top: 30%;
    }

    .second-title {
        margin-top: 5rem;

    }

    .relaxation-image {
        width: 100%;
        height: 23rem;
    }

    .third-title button p {
        font-size: 10px;
        padding: 10px;
        width: 150px;
        top: 30%;
    }

    .third-title {
        margin-top: 15rem;
    }

    .healthy-food-image {
        max-width: 100%;
        height: 60rem;
    }

    .forth-title {
        top: 50%;
    }

    .forth-title button p {
        font-size: 10px;
        padding: 10px;
        width: 150px;
        top: 30%;
    }

    .fitness-image {
        width: 100%;
        height: 32rem;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

@media all and (max-width: 600px) {
    .five-reasons {
        font-size: 10px;
        margin-left: 20%;
    }

    .med-container .first-title h1 {
        font-size: 3rem;
        padding-left: 100px;
    }

    .med-2-image {
        height: 12rem;
        justify-content: center;
        padding-left: 100px;
    }

    .med-paragraph {
        font-size: 8px;
    }

    .med-paragraph2 {
        font-size: 8px;
    }
}

@media all and (max-width: 480px) {
    .five-reasons {
        font-size: 10px;
        margin-left: 20%;
    }

    .med-container .first-title h1 {
        font-size: 2rem;
        padding-left: 100px;
    }

    .med-2-image {
        height: 10rem;
        padding-left: 100px;
    }

    .header {
        padding-top: 50px;
    }

    .header h1 {
        font-size: 4rem;
        padding-bottom: 5rem;
    }

    h1 {
        font-size: 3rem;
    }

    .first-title {
        top: 8%;
    }

    .first-title button p {
        font-size: 10px;
        padding: 7px;
        width: 150px;
        top: 20%;
    }

    .meditation-image {
        width: 100%;
        height: 45rem;
    }

    .second-title {
        top: 20%;
    }

    .second-title button p {
        font-size: 10px;
        padding: 7px;
        width: 150px;
        top: 20%;
    }

    .relaxation-image {
        width: 100%;
        height: 23rem;
    }

    .third-title button p {
        font-size: 10px;
        padding: 7px;
        width: 150px;
        top: 20%;
    }

    .third-title {
        top: 28%;
    }

    .healthy-food-image {
        max-width: 100%;
        height: 60rem;
    }

    .forth-title {
        top: 48%;
    }

    .forth-title button p {
        font-size: 10px;
        padding: 7px;
        width: 150px;
        top: 20%;
    }

    .fitness-image {
        width: 100%;
        height: 28rem;
    }
}

@media all and (max-width: 460px) {
    .five-reasons {
        font-size: 10px;
        margin-left: 15%;
    }

    .med-container .first-title h1 {
        font-size: 2rem;
        padding-left: 100px;
    }

    .med-2-image {
        padding-left: 80px;
    }

    nav ul {
        padding-left: 0px;
        padding-right: 0px;
    }

    nav ul li a {
        font-size: 0.6rem;
    }

    nav ul li {
        padding: 10px;

    }

    .header h1 {

        font-size: 4rem;
    }

    h1 {
        font-size: 3rem;
    }

    .first-title {
        top: 8%;
    }

    .meditation-image {
        margin-top: 20px;
        height: 40rem;
    }

    .first-title button p {
        width: 150px;
        padding: 7px;
        top: 20%;
    }

    .relaxation-image {
        height: 19rem;
    }

    .second-title button p {
        width: 150px;
        padding: 7px;
        top: 20%;
    }

    .healthy-food-image {
        height: 55rem;
    }

    .third-title {
        top: 25%;
    }

    .third-title button p {
        width: 150px;
        padding: 7px;
        top: 20%;
    }

    .fitness-image {
        height: 25rem;
    }

    .forth-title {
        top: 50%;
    }

    .forth-title button p {
        width: 150px;
        padding: 7px;
        top: 20%;
    }

    .footer-list {
        font-size: 0.8rem;
    }

    .copyright {
        font-size: 0.7rem;
    }
}

@media all and (max-width: 380px) {
    .five-reasons {
        font-size: 10px;
        margin-left: 20%;
    }

    nav ul li a {
        font-size: 0.55rem;
    }

    .med-container {
        padding: 10px;
    }

    .med-2-image {
        height: 8rem;
        justify-content: center;
        padding-left: 60px;
    }

    .med-container .first-title h1 {
        font-size: 2rem;
        padding-left: 100px;
    }

    .header h1 {
        font-size: 3rem;
    }

    .meditation-image {
        height: 40rem;
    }
}