@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Smooch&display=swap');

/* Main page reset default settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

b {
    color: rgb(153, 0, 0);
}

/* nav styling */

nav {
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 10;
    padding: 20px;
    background-color: rgba(131, 131, 131, 0.9);
    padding: 20px;
    margin-top: 20px;
    margin-left: 0px;

}

nav ul {
    font-family: Libre Baskerville, sans-serif;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    justify-content: space-between;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    border-radius: 20px;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li {
    padding: 10px;
    z-index: 10;
}

nav ul li a {
    color: rgb(24, 158, 192);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 10;
}

nav a:hover {
    color: rgb(0, 204, 255);
}

.active {
    color: rgb(0, 204, 255);
}

.menu {
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    top: 30%;
    left: 5%;
    line-height: 60px;
    font-size: 35px;
    font-weight: lighter;
    font-family: smooch, san-serif;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    z-index: 15;
}

.menu li {
    border-radius: 20px;
    margin: 10px;
    height: 60px;
    width: 20%;
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    list-style: none;
    cursor: pointer;
}

.menu a {
    color: rgb(0, 204, 255);
    text-decoration-color: rgb(90, 1, 141);
    ;

}

.menu li:hover {
    transform: scale(1.3);
}


.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Video container styling */

.video-container {
    z-index: -10;

}

.video-container video {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Header styling */

.header {
    padding-top: 100px;
}

.header h1 {
    font-size: 10rem;
    color: rgb(24, 158, 192);
    font-weight: 200;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

/* H1 styling */

h1 {
    font-size: 8rem;
    font-family: smooch, san-serif;
    text-align: center;
    color: rgb(24, 158, 192);
    font-weight: 200;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

#scroll-stop-first-title {
    background-color: transparent;
    height: 5px;
    width: 5px;
    position: absolute;
    right: 50%;
    margin-top: 150px;
    color: transparent;
}

.first-title {
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 10;
}

/* First title link */

.container p a {
    font-size: 15px;
    color: rgb(24, 158, 192);
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    width: 10rem;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    right: 45%;
    z-index: 10;
}

.container p a {
    text-decoration: none;
}

.container p a b {
    color: rgb(0, 0, 0);
}

.container p a b:hover {
    color: rgb(189, 33, 33);
}

.meditation-image {
    width: 100%;
    height: 70rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 400px;
    margin-top: 200px;
}

/* Second links */

#scroll-stop-second-title {
    background-color: transparent;
    height: 5px;
    width: 5px;
    position: absolute;
    right: 50%;
    top: 33%;
    color: transparent;
}

.second-title {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 10;
}

.relaxation-image {
    width: 100%;
    height: 45rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 100px;
}

/* Third links */

#scroll-stop-third-title {
    background-color: transparent;
    height: 5px;
    width: 5px;
    position: absolute;
    right: 50%;
    top: 55%;
    color: transparent;
}

.third-title {
    position: absolute;
    justify-content: center;
    top: 44%;
    width: 100%;
    z-index: 10;
}

.healthy-food-image {
    width: 100%;
    height: 110rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 400px;
    padding-top: 200px;
}

/* Forth links */

#scroll-stop-forth-title {
    background-color: transparent;
    height: 5px;
    width: 5px;
    position: absolute;
    right: 50%;
    top: 82%;
    color: transparent;
}

.forth-title {
    position: absolute;
    justify-content: center;
    top: 68%;
    width: 100%;
    z-index: 10;
}

.fitness-image {
    width: 100%;
    height: 50rem;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
    padding-bottom: 200px;
}

/* Footer styling */

.footer {
    width: 100%;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.footer-padding {
    padding: 20px;
}

.footer-list {
    color: rgb(24, 158, 192);
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.7rem;
    padding-bottom: 10px;
}

.footer-list li a {
    font-weight: 400;
    color: rgb(24, 158, 192);
    text-decoration: none;
}

.footer-list a:hover {
    color: rgb(0, 204, 255);
    ;
}

.copyright {
    background-color: rgba(131, 131, 131, 0.9);
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
}

/* media queries for responsive control */

@media all and (max-width: 1600px) {

    /* quick scroll */

    .menu {
        top: 50%;
        font-size: 30px;
    }

    .menu h1 {
        font-size: 3rem;
    }
}

@media all and (max-width: 1280px) {
    /* menu */

    .menu li a {
        padding-bottom: 10px;
    }
}

@media all and (max-width: 1000px) {

    /* landing page */

    .header h1 {
        font-size: 7rem;
    }

    h1 {
        font-size: 5rem;
    }

    .container p a {
        font-size: 10px;
        left: 40%;
    }

    /* menu */

    .menu {
        font-size: 30px;
    }

    .menu li {
        margin: 5px;
    }

    .meditation-image {
        height: 65rem;
    }

    .relaxation-image {
        height: 40rem;
    }

    .fitness-image {
        height: 40rem;
    }

    .container p {
        font-size: 10px;
        right: 40%;
    }

    .forth-title {
        top: 70%;
    }
}

@media all and (max-width: 880px) {

    /* landing page */

    nav ul li a {
        font-size: 1rem;
    }

    .header h1 {
        font-size: 6rem;
    }

    h1 {
        font-size: 5rem;
    }

    /* menu */

    .menu {
        font-size: 30px;
        top: 40%;
    }

    .meditation-image {
        height: 55rem;
    }

    .relaxation-image {
        height: 30rem;
    }

    .healthy-food-image {
        height: 85rem;
    }

    .fitness-image {
        height: 40rem;
    }

    .footer-list {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 680px) {

    /* landing page */

    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .header h1 {
        font-size: 5rem;
        padding-top: 0px;
    }

    h1 {
        font-size: 4rem;
    }

    /* menu */

    .menu {
        top: 30%;
        font-size: 20px;
        padding: 10px;
        line-height: 50px;
    }

    .menu li {
        height: 40px;
    }

    .first-title {
        margin-top: 10%;
    }

    .container p {
        right: 38%;
    }

    .meditation-image {
        height: 50rem;
    }

    .relaxation-image {
        height: 30rem;
    }

    .third-title {
        top: 45%;
    }

    .healthy-food-image {
        height: 80rem;
    }

    .forth-title {
        top: 70%;
    }

    .fitness-image {
        height: 35rem;
    }

    .copyright {
        font-size: 0.9rem;
    }
}

@media all and (max-width: 600px) {

    /* landing page */

    .meditation-image {
        height: 46rem;
    }

    .relaxation-image {
        height: 25rem;
    }

    .fitness-image {
        height: 30rem;
    }

    /* menu */

    .menu {
        top: 33%;
    }

    /* landing page */

    .header h1 {
        font-size: 4rem;
    }

    h1 {
        font-size: 3rem;
    }

    .first-title {
        top: 9%;
    }

    .container p a {
        width: 6rem;
        left: 40%;
    }

    .meditation-image {
        height: 45rem;
    }

    .second-title {
        top: 32%;
    }

    .second-title button p {
        top: 60%;
    }

    .relaxation-image {
        height: 23rem;
    }

    .third-title {
        top: 47%;
    }

    .third-title button p {
        top: 60%;
    }

    .healthy-food-image {
        height: 70rem;
    }

    .forth-title {
        top: 71%;
    }

    .forth-title button p {
        top: 60%;
    }

    .fitness-image {
        height: 30rem;
    }
}

@media all and (max-width: 460px) {

    /* landing page */

    nav ul li a {
        font-size: 0.6rem;
    }

    .header h1 {

        font-size: 4rem;
    }

    h1 {
        font-size: 3rem;
    }

    .first-title {
        top: 8%;
    }

    .meditation-image {
        height: 42rem;
    }

    .second-title {
        top: 31%;
    }

    .second-title button p {
        top: 70%;
    }

    .relaxation-image {
        height: 21rem;
    }

    .third-title {
        top: 46%;
    }

    .third-title button p {
        top: 70%;
    }

    .healthy-food-image {
        height: 68rem;
    }

    .forth-title {
        top: 71%;
    }

    .forth-title button p {
        top: 70%;
    }

    .fitness-image {
        height: 27rem;
    }

    .footer-list {
        font-size: 0.8rem;
    }

    .copyright {
        font-size: 0.7rem;
    }
}

@media all and (max-width: 380px) {

    /* Landing page */

    nav {
        padding: 10px;
    }

    nav ul li {
        padding-top: 5px;
        padding-left: 5px;
    }

    nav ul li a {
        font-size: 0.6rem;
    }

    .header h1 {
        font-size: 4rem;
    }

    /* menu */

    .menu {
        left: 1%;
        top: 40%;
    }

    .menu li {
        margin: 5px;
        height: 25px;
        width: 20%;
        font-size: 16px;
        line-height: 30px;
    }

    #scroll-stop-first-title {
        top: 5%;
    }

    .first-title {
        top: 10%;
    }

    .container p a {
        left: 35%;
        width: 6.5rem;
    }

    .meditation-image {
        height: 40rem;
        margin-bottom: 100px;
    }

    #scroll-stop-second-title {
        top: 32%;
    }

    .second-title {
        top: 29%;
    }

    .relaxation-image {
        height: 19rem;
        margin-bottom: 300px;

    }

    #scroll-stop-third-title {
        top: 59%;
    }

    .third-title {
        top: 48%;
    }

    .healthy-food-image {
        height: 66rem;
    }

    .forth-title {
        top: 69%;
    }

    .fitness-image {
        height: 25rem;
    }
}